.mailList{
    background-color: darkred;
    width: 100%;
    display: flex;
    justify-content: center;
    .mailContainer{
        max-width: 1024px;
      
        display: flex;
        flex-direction: column;
        color: white;
        margin: 50px 0px;
        gap: 20px;
        align-items: center;
        .mailInfo{
            display: flex;
            gap: 16px;

        }
        .mailInfo>input{
            font-size: 16px;
          outline: none;
          border-radius: 5px;
          padding: 3px;
          color: black;
        
        }
        .mailInfo>button{
            border-radius: 5px;
            padding: 3px;
        }
      
    }
}